body {
    background: rgb(195, 0, 255);
    font: normal 12pt Arial;
    color: white;
}

header {
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    width: 600px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    color: black;
}

div#perfil {
    text-align: center;
}

div#msg {
    margin: 20px;
}

footer {
    text-align: center;
}